
:root {

}

.row {
	/*width: 100%;*/
}

body {
	font-family: aktiv-grotesk, 'Inconsolata', Monaco, "Lucida Console", Consolas, "Courier New", "Helvetica Neue";
    /*font-family: 'Tiempos Text Web',Georgia, Times, Serif*/
	background-color: #f9f9f9;
}

#intro-area p, #nodelink-intro, #network-intro {
    font-family: 'Lora', 'Merriweather', 'Playfair Display', "Helvetica Neue";
}

h1, h3 {
    font-family: 'Roboto';
}

.spacer {
	height: 50px;
}

strong {
	font-weight: 900;
}

.tile-wrapper {
    /*min-height: 780px;*/
    position: relative;
    text-align: center;
    /*left: 30%;*/
    /*opacity: 0.2;*/
}

#intro-wrapper {
    /*min-height: 100vh;*/
    z-index: 70;
}

.viz-tile {
    position: relative;
    top: 40px;
    right: 0;
    left: 0;
    margin-right: auto !important;
    margin-left: auto !important;
    margin-top: 20px;
}

.control-header {
    font-size: 16px;
}


#intro-tile {
    /*position: absolute;*/
    /*left: 50%;*/
    /*transform: translate(-50%, 0%);*/
    margin: auto;
}

.footer {
    font-size: 10pt;
    padding-top: 40px;
    padding-bottom: 60px;
    min-height: 100vh;
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
}

#intro-area h2 {
    line-height: 1.25;
    font-size: 24pt;
}


#end-text-block {
    /*margin-bottom: 200px;*/
    margin-bottom: 25vh;
    padding: 20px;
    padding-top: 25px;
    padding-bottom: 30px;

    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
}

.range-value span {
    /*padding-top: 3px;*/
    /*padding-bottom: 3px;*/

    min-width: 30px;
    padding-left: 4px;
    padding-right: 4px;
    height: 26px;
    line-height: 24px;

    text-align: center;

    background: white;
    color: black;

    font-size: 12px;

    display: block;
    position: absolute;
    left: 50%;

    transform: translate(-50%, 0);

    border-radius: 6px;
    border: 1px solid black;
}

.slider-div {
    margin-top: 10px;
    padding: 0;
    text-align: center;
    height: 100%;

    /*max-width: 300px;*/
    /*margin: auto;*/

}

#neighborhood-map-area {
    height: 480px;
}


#feature-select {
    min-width: 280px;
    padding-left: 5px;
    padding: auto;
}


.leaflet-popup {
    min-width: 340px;
    /*max-width: 350px;*/
}

.leaflet-popup-content {
    min-width: 340px;
}

.leaflet-tooltip-table tr td:nth-child(1) {
    min-width: 90px;
    margin-right: 3px;
}

.leaflet-tooltip-table tr td:nth-child(2) {
    min-width: 250px;
    margin-right: 3px;
}

#feature-select-div {
    margin: auto;
}

.range-value {
    position: absolute;
    
}

#year-slider-label {
    top: 110%;
}

#map-year-slider-label {
    bottom: 275%;
}


@media (max-width: 1100px) {

    .range-value span {
        font-size: 16px;

        min-width: 38px;
        padding-left: 3px;
        padding-right: 3px;
    }

    #feature-select {
        min-width: unset;
        max-width: 100%;
    }

    .slider-div {
        margin-bottom: 25px;
    }

    .viz-tile {
        /*padding-top: 150px;*/
    }

    .container {
        width: 95% !important;
        padding-right: 25px !important;
    }

    h2 {
        font-size: 26pt;
    }

     #intro-text-block, #end-text-block {
         font-size: 16pt;
     }

     .footer {
         font-size: 12pt;
     }

     .tip-text {
         font-size: 12pt;
     }

     .spacer {
        height: 0px;
    }

     .axis-label {
         font-size: 18px;
     }

     .axis-tip {
         font-size: 14px;
     }

     #neighborhood-map-area {
        height: 300px;
    }

    #feature-select-div {
        margin-top: 40px;
    }


    .mobile-second-row {
        margin-top: 40px;
    }

    .range-value{
        position: absolute;
        top: 75%;
    }
}

.container {
	z-index: 2;
    text-align: center;
    margin: unset;
    /*margin: 0;*/
    /*width: 80%;*/
}


.d3-tip {
  min-width: 320px;
  max-width: 480px;
	background-color: white;
	color: black;
	border-radius: 5px;
	border: 1px solid black;
	z-index: 100;
    padding: 12px;
    line-height: 1;
}

.icon-img {
	height: 13px;
	width: 13px;
	margin-bottom: 2px;
}

hr {
    width: 65%;
    background-color: #bbb !important;
    color: #bbb !important;
    border: solid 0.2px #bbb !important;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.info {
    background-color: white;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 14px;
    min-width: 150px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    border: 1px solid black;
    border-radius: 15px;
    opacity: 0.5;
}


/*Load Spinner*/

.lds-ring {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 120px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 120px;
  height: 120px;
  margin: 9px;
  border: 9px solid #444;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #444 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Toggle Switch */

.onoffswitch {
    position: relative; width: 109px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Included";
    padding-left: 15px;
    text-align: left;
    background-color: orange; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Excluded";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 17px; margin: 6.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 75px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
