<!DOCTYPE HTML>

<head>
    <meta charset="utf-8">
    <meta name="description" content="">

    <!-- Primary Meta Tags -->
    <title>Cleveland Eviction Mapping</title>
    <meta name="title" content="Cleveland Eviction Mapping">
    <meta name="description" content="">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:title" content="Cleveland Eviction Mapping">
    <meta property="og:description" content="">
    <meta property="og:image" content="">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="">
    <meta property="twitter:title" content="Cleveland Eviction Mapping">
    <meta property="twitter:description" content="">
    <meta property="twitter:image" content="">

    <link rel="icon" href='/static/images/favicon.png'>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <!-- jQuery UI CSS -->
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="/static/css/d3-tip.css">
    <link rel="stylesheet" href="/static/css/source-code-pro.css">
    <link rel="stylesheet" href="/static/bower_components/chosen/chosen.min.css">
    <link rel="stylesheet" href="/static/css/fstdropdown.min.css">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/1e59e4c612.js" crossorigin="anonymous"></script>

</head>

<body>

    <!-- Bootstrap grid setup -->

    <!-- Load Wheel -->
    <div class="loadring-container" style="text-align: center">
        <div class="lds-ring" style="margin-top: 30vh;"><div></div><div></div><div></div><div></div></div>
    </div>

    <!-- Intro Text Wrapper/Tile -->
    <div class="tile-wrapper" id="intro-wrapper" style="visibility: hidden">
    <div class="container viz-tile" id="intro-tile" style="text-align: center; margin: auto;">
        <div class="col-md-1"></div>
        <div class="col-md-10" id="intro-area" style="text-align:left;">
            <div style="text-align: center">
                <h1><strong>Mapping Five Years of Eviction Filings in Cleveland</strong></h1>
            </div>
            <br><br>
            <p>
                Some intro text here.
            </p>
            <br>
            <p>
                Some more intro text here.
            </p>
        </div>
        <div class="col-md-1"></div>
    </div>
    </div>

    <div class="spacer"></div>

    <!-- Third Wrapper/Tile -->
    <div class="tile-wrapper" id="map-wrapper" style="margin-top: 8vh; margin-bottom: 20vh; visibility: hidden;">
    <div class="container" id="map-intro" style="text-align: center; margin: auto;">
        <h3>Map header?</h3>
        <br>
        <div class="col-md-2"></div>
        <div class="col-md-8" style="text-align: left">
            <p>
                Map text here
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="spacer"></div>

    <div class="container viz-tile" id="map-tile">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 slider-div">
                <span style="margin-bottom: 5px;">Year:</span>
                <div class="range-value" id="year-slider-label"></div>
                <input type="range" id="year-slider" name="year-select" min="2014" max="2020" step="1" value="2014">
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row" style="margin-top: 4vh">
            <!-- <div class="col-md-1"></div> -->
            <div class="col-md-6 viz-area">
                <div class="row" id="eviction-map-area" style="max-height: 67vh"></div>
            </div>
            <div class="col-md-6 viz-area">
                <div class="row" id="housing-value-map-area" style="max-height: 67vh"></div>
            </div>
            <!-- <div class="col-md-1"></div> -->
        </div>
    </div>
    </div>

    <div class="spacer" style="min-height: 5vh"></div>

    <!-- Footer  -->
    <div class="container footer" style="text-align:left; max-width: 950px; z-index: 200; margin: auto; visibility: hidden;">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <hr>
            <br>
            <p>Visualization by <a href="http://www.samlearner.com/">Sam Learner</a> | <a href="mailto:learnersd@gmail.com"><img class="icon-img" src="/static/images/email.svg"></a> | <a href="https://twitter.com/sam_learner"><img class="icon-img" src="/static/images/twitter.svg"></a> | <a href="https://github.com/sdl60660"><img class="icon-img" src="/static/images/github.png"></a></p>
            <!-- Github repo link <p>Code and data for this project lives <a href="">here</a>.</p> -->
            
            <!--<p><strong>Further Reading</strong></p>-->
            <!--<ul style="margin-left:-20px;">-->
                <!--<li><a href=""></a></li>-->
                <!--<li><a href=""></a></li>-->
                <!--<li><a href=""></a></li>-->
            <!--</ul>-->
            <!--<br>-->
            <p><strong>Notes</strong></p>
            <p>
                [No notes yet]
            </p>
            <p><strong>Sources</strong></p>
            <p>
                Data scraped from Cleveland Municipal Court filings. Population data came from Statistical Atlas [link]. Cleveland neighborhood shape file came from here (https://www.arcgis.com/home/item.html?id=80205c01f83f4fad840906e4f6072ad5).
            </p>
            <!-- <p>Last Updated: July 2020</p> -->

        </div>
        <div class="col-md-1"></div>
    </div>



    <!-- External JS Libraries -->
    <script src="/static/js/lib/bootstrap.min.js"></script>
    <script src="/static/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="/static/bower_components/chosen/chosen.jquery.min.js"></script>
    <script src="/static/js/lib/d3.min.js"></script>
    <script src="/static/js/lib/d3-geo.min.js"></script>
    <script src="/static/js/lib/d3-geo-projection.v2.min.js"></script>
    <script src="/static/js/lib/d3-tip.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script src="/static/js/lib/fstdropdown.min.js"></script>
    <script src="static/js/lib/lodash.js"></script>
    <!--<script src="static/js/d3plus.full.min.js"></script>-->

    <!-- Custom JS -->
    <script src="/static/js/utils.js"></script>

    <script src="/static/js/map.js"></script>
    <script src="/static/js/main.js"></script>

</body>
</html>





